:root {
    --main-bg-color: white;
    --second-bg-color: white;
    --main-text-color:  #2c3e50; 
    --second-text-color:  #2c3e50;
    --light-text-color: #fff; 
    --main-border-color: black;
    --scroll-track-color: lightgrey;
    --scroll-thumb-color: grey;
    --variation-color: lightgrey;
    --button-color: #34495e;
    --tooltip-color: lightgrey;
    --hover-color: #22303d;
    --save-btn-color: #4AAE9B;
    --cancel-btn-color: #b22222;
    --tab-btn-color:  #333;
    --tab-header-color: #4AAE9B;
    --highlight-color: #2196F3;
    --hover-highlight-color: #2196F3;
    --dark-highlight-color: #2196F3;
    --menubar-activetab-color: #00af89;
    --eval-line-color: #ff4400;
    --quicktour-highlight: #F47174;
}