:root {
    --main-bg-color: #222326;
    --second-bg-color: #4b4e54;
    --main-text-color:  lightgrey; 
    --main-border-color: #888;
    --scroll-track-color: #4b4e54;
    --scroll-thumb-color: #222326;
}