.cg-board-wrap {
<<<<<<< HEAD
  background-image: url('../../board/svg/makruk2Coords.svg');
  width: 100%;
  background-size: cover;
  height: 100%;
  padding:0;
=======
  background-image: url('../../board/svg/makruk2.svg');
>>>>>>> 6b523702fb4e823fb38a65d4f76250646721bc5f
}
