.is2d .pawn.white {background-image:url('/src/renderer/assets/piece/Shogi/ctp/wP.svg')}
.is2d .ppawn.white {background-image:url('/src/renderer/assets/piece/Shogi/ctp/0TO.svg')}
.is2d .knight.white {background-image:url('/src/renderer/assets/piece/Shogi/ctp/0KE.svg')}
.is2d .pknight.white {background-image:url('/src/renderer/assets/piece/Shogi/ctp/0NK.svg')}
.is2d .bishop.white {background-image:url('/src/renderer/assets/piece/Shogi/ctp/0KA.svg')}
.is2d .pbishop.white {background-image:url('/src/renderer/assets/piece/Shogi/ctp/0UM.svg')}
.is2d .rook.white {background-image:url('/src/renderer/assets/piece/Shogi/ctp/0HI.svg')}
.is2d .prook.white {background-image:url('/src/renderer/assets/piece/Shogi/ctp/0RY.svg')}
.is2d .lance.white {background-image:url('/src/renderer/assets/piece/Shogi/ctp/0KY.svg')}
.is2d .plance.white {background-image:url('/src/renderer/assets/piece/Shogi/ctp/0NY.svg')}
.is2d .silver.white {background-image:url('/src/renderer/assets/piece/Shogi/ctp/0GI.svg')}
.is2d .psilver.white {background-image:url('/src/renderer/assets/piece/Shogi/ctp/0NG.svg')}
.is2d .gold.white {background-image:url('/src/renderer/assets/piece/Shogi/ctp/0KI.svg')}
.is2d .king.white {background-image:url('/src/renderer/assets/piece/Shogi/ctp/0GY.svg')}

.is2d .pawn.black {background-image:url('/src/renderer/assets/piece/Shogi/ctp/bP.svg')}
.is2d .ppawn.black {background-image:url('/src/renderer/assets/piece/Shogi/ctp/1TO.svg')}
.is2d .knight.black {background-image:url('/src/renderer/assets/piece/Shogi/ctp/1KE.svg')}
.is2d .pknight.black {background-image:url('/src/renderer/assets/piece/Shogi/ctp/1NK.svg')}
.is2d .bishop.black {background-image:url('/src/renderer/assets/piece/Shogi/ctp/1KA.svg')}
.is2d .pbishop.black {background-image:url('/src/renderer/assets/piece/Shogi/ctp/1UM.svg')}
.is2d .rook.black {background-image:url('/src/renderer/assets/piece/Shogi/ctp/1HI.svg')}
.is2d .prook.black {background-image:url('/src/renderer/assets/piece/Shogi/ctp/1RY.svg')}
.is2d .lance.black {background-image:url('/src/renderer/assets/piece/Shogi/ctp/1KY.svg')}
.is2d .plance.black {background-image:url('/src/renderer/assets/piece/Shogi/ctp/1NY.svg')}
.is2d .silver.black {background-image:url('/src/renderer/assets/piece/Shogi/ctp/1GI.svg')}
.is2d .psilver.black {background-image:url('/src/renderer/assets/piece/Shogi/ctp/1NG.svg')}
.is2d .gold.black {background-image:url('/src/renderer/assets/piece/Shogi/ctp/1KI.svg')}
.is2d .king.black {background-image:url('/src/renderer/assets/piece/Shogi/ctp/1GY.svg')}
