.is2d .pawn.white {background-image:url('/src/renderer/assets/piece/SouthEastAsian/cambodian/wP.svg')}
.is2d .knight.white {background-image:url('/src/renderer/assets/piece/SouthEastAsian/cambodian/wN.svg')}
.is2d .silver.white {background-image:url('/src/renderer/assets/piece/SouthEastAsian/cambodian/wS.svg')}
.is2d .rook.white {background-image:url('/src/renderer/assets/piece/SouthEastAsian/cambodian/wR.svg')}
.is2d .met.white {background-image:url('/src/renderer/assets/piece/SouthEastAsian/cambodian/wQ.svg')}
.is2d .king.white {background-image:url('/src/renderer/assets/piece/SouthEastAsian/cambodian/wK.svg')}
.is2d .ferz.white {background-image:url('/src/renderer/assets/piece/SouthEastAsian/cambodian/wF.svg')}
.is2d .pawn.black {background-image:url('/src/renderer/assets/piece/SouthEastAsian/cambodian/bP.svg')}
.is2d .knight.black {background-image:url('/src/renderer/assets/piece/SouthEastAsian/cambodian/bN.svg')}
.is2d .silver.black {background-image:url('/src/renderer/assets/piece/SouthEastAsian/cambodian/bS.svg')}
.is2d .rook.black {background-image:url('/src/renderer/assets/piece/SouthEastAsian/cambodian/bR.svg')}
.is2d .met.black {background-image:url('/src/renderer/assets/piece/SouthEastAsian/cambodian/bQ.svg')}
.is2d .king.black {background-image:url('/src/renderer/assets/piece/SouthEastAsian/cambodian/bK.svg')}
.is2d .ferz.black {background-image:url('/src/renderer/assets/piece/SouthEastAsian/cambodian/bF.svg')}