.is2d .p-piece.white {
    background-image:url('../../piece/international/alpha/wP.svg');
}
.is2d .n-piece.white {
    background-image:url('../../piece/international/alpha/wN.svg');
}
.is2d .b-piece.white {
    background-image:url('../../piece/international/alpha/wB.svg');   
}
.is2d .r-piece.white {
    background-image:url('../../piece/international/alpha/wR.svg');
}
.is2d .q-piece.white {
    background-image:url('../../piece/international/alpha/wQ.svg');
}
.is2d .k-piece.white {
    background-image:url('../../piece/international/alpha/wK.svg');
}
.is2d .p-piece.black {
    background-image:url('../../piece/international/alpha/bP.svg');
}
.is2d .n-piece.black {
    background-image:url('../../piece/international/alpha/bN.svg');
}
.is2d .b-piece.black{
    background-image:url('../../piece/international/alpha/bB.svg');
}
.is2d .r-piece.black {
    background-image:url('../../piece/international/alpha/bR.svg');
}

.is2d .q-piece.black {
    background-image:url('../../piece/international/alpha/bQ.svg');
}
.is2d .k-piece.black {
    background-image:url('../../piece/international/alpha/bK.svg');
}

