.is2d .pawn.white {background-image:url('../../piece/international/companion/wP.svg')}
.is2d .knight.white {background-image:url('../../piece/international/companion/wN.svg')}
.is2d .bishop.white {background-image:url('../../piece/international/companion/wB.svg')}
.is2d .rook.white {background-image:url('../../piece/international/companion/wR.svg')}
.is2d .queen.white {background-image:url('../../piece/international/companion/wQ.svg')}
.is2d .king.white {background-image:url('../../piece/international/companion/wK.svg')}
.is2d .pawn.black {background-image:url('../../piece/international/companion/bP.svg')}
.is2d .knight.black {background-image:url('../../piece/international/companion/bN.svg')}
.is2d .bishop.black {background-image:url('../../piece/international/companion/bB.svg')}
.is2d .rook.black {background-image:url('../../piece/international/companion/bR.svg')}
.is2d .queen.black {background-image:url('../../piece/international/companion/bQ.svg')}
.is2d .king.black {background-image:url('../../piece/international/companion/bK.svg')}
