.is2d .pawn.white {background-image:url('../../piece/international/gioco/wP.svg')}
.is2d .knight.white {background-image:url('../../piece/international/gioco/wN.svg')}
.is2d .bishop.white {background-image:url('../../piece/international/gioco/wB.svg')}
.is2d .rook.white {background-image:url('../../piece/international/gioco/wR.svg')}
.is2d .queen.white {background-image:url('../../piece/international/gioco/wQ.svg')}
.is2d .king.white {background-image:url('../../piece/international/gioco/wK.svg')}
.is2d .pawn.black {background-image:url('../../piece/international/gioco/bP.svg')}
.is2d .knight.black {background-image:url('../../piece/international/gioco/bN.svg')}
.is2d .bishop.black {background-image:url('../../piece/international/gioco/bB.svg')}
.is2d .rook.black {background-image:url('../../piece/international/gioco/bR.svg')}
.is2d .queen.black {background-image:url('../../piece/international/gioco/bQ.svg')}
.is2d .king.black {background-image:url('../../piece/international/gioco/bK.svg')}
