.is2d .pawn.white {background-image:url('../../piece/international/governor/wP.svg')}
.is2d .knight.white {background-image:url('../../piece/international/governor/wN.svg')}
.is2d .bishop.white {background-image:url('../../piece/international/governor/wB.svg')}
.is2d .rook.white {background-image:url('../../piece/international/governor/wR.svg')}
.is2d .queen.white {background-image:url('../../piece/international/governor/wQ.svg')}
.is2d .king.white {background-image:url('../../piece/international/governor/wK.svg')}
.is2d .pawn.black {background-image:url('../../piece/international/governor/bP.svg')}
.is2d .knight.black {background-image:url('../../piece/international/governor/bN.svg')}
.is2d .bishop.black {background-image:url('../../piece/international/governor/bB.svg')}
.is2d .rook.black {background-image:url('../../piece/international/governor/bR.svg')}
.is2d .queen.black {background-image:url('../../piece/international/governor/bQ.svg')}
.is2d .king.black {background-image:url('../../piece/international/governor/bK.svg')}
