.is2d .pawn.white {background-image:url('../../piece/international/kosal/wP.svg')}
.is2d .knight.white {background-image:url('../../piece/international/kosal/wN.svg')}
.is2d .bishop.white {background-image:url('../../piece/international/kosal/wB.svg')}
.is2d .rook.white {background-image:url('../../piece/international/kosal/wR.svg')}
.is2d .queen.white {background-image:url('../../piece/international/kosal/wQ.svg')}
.is2d .king.white {background-image:url('../../piece/international/kosal/wK.svg')}
.is2d .pawn.black {background-image:url('../../piece/international/kosal/bP.svg')}
.is2d .knight.black {background-image:url('../../piece/international/kosal/bN.svg')}
.is2d .bishop.black {background-image:url('../../piece/international/kosal/bB.svg')}
.is2d .rook.black {background-image:url('../../piece/international/kosal/bR.svg')}
.is2d .queen.black {background-image:url('../../piece/international/kosal/bQ.svg')}
.is2d .king.black {background-image:url('../../piece/international/kosal/bK.svg')}
