.is2d .pawn.white {background-image:url('../../piece/international/leipzig/wP.svg')}
.is2d .knight.white {background-image:url('../../piece/international/leipzig/wN.svg')}
.is2d .bishop.white {background-image:url('../../piece/international/leipzig/wB.svg')}
.is2d .rook.white {background-image:url('../../piece/international/leipzig/wR.svg')}
.is2d .queen.white {background-image:url('../../piece/international/leipzig/wQ.svg')}
.is2d .king.white {background-image:url('../../piece/international/leipzig/wK.svg')}
.is2d .pawn.black {background-image:url('../../piece/international/leipzig/bP.svg')}
.is2d .knight.black {background-image:url('../../piece/international/leipzig/bN.svg')}
.is2d .bishop.black {background-image:url('../../piece/international/leipzig/bB.svg')}
.is2d .rook.black {background-image:url('../../piece/international/leipzig/bR.svg')}
.is2d .queen.black {background-image:url('../../piece/international/leipzig/bQ.svg')}
.is2d .king.black {background-image:url('../../piece/international/leipzig/bK.svg')}
