.is2d .pawn.white {background-image:url('../../piece/international/libra/wP.svg')}
.is2d .knight.white {background-image:url('../../piece/international/libra/wN.svg')}
.is2d .bishop.white {background-image:url('../../piece/international/libra/wB.svg')}
.is2d .rook.white {background-image:url('../../piece/international/libra/wR.svg')}
.is2d .queen.white {background-image:url('../../piece/international/libra/wQ.svg')}
.is2d .king.white {background-image:url('../../piece/international/libra/wK.svg')}
.is2d .pawn.black {background-image:url('../../piece/international/libra/bP.svg')}
.is2d .knight.black {background-image:url('../../piece/international/libra/bN.svg')}
.is2d .bishop.black {background-image:url('../../piece/international/libra/bB.svg')}
.is2d .rook.black {background-image:url('../../piece/international/libra/bR.svg')}
.is2d .queen.black {background-image:url('../../piece/international/libra/bQ.svg')}
.is2d .king.black {background-image:url('../../piece/international/libra/bK.svg')}
