.is2d .pawn.white {background-image:url('../../piece/international/maestro/wP.svg')}
.is2d .knight.white {background-image:url('../../piece/international/maestro/wN.svg')}
.is2d .bishop.white {background-image:url('../../piece/international/maestro/wB.svg')}
.is2d .rook.white {background-image:url('../../piece/international/maestro/wR.svg')}
.is2d .queen.white {background-image:url('../../piece/international/maestro/wQ.svg')}
.is2d .king.white {background-image:url('../../piece/international/maestro/wK.svg')}
.is2d .pawn.black {background-image:url('../../piece/international/maestro/bP.svg')}
.is2d .knight.black {background-image:url('../../piece/international/maestro/bN.svg')}
.is2d .bishop.black {background-image:url('../../piece/international/maestro/bB.svg')}
.is2d .rook.black {background-image:url('../../piece/international/maestro/bR.svg')}
.is2d .queen.black {background-image:url('../../piece/international/maestro/bQ.svg')}
.is2d .king.black {background-image:url('../../piece/international/maestro/bK.svg')}
