.is2d .pawn.white {background-image:url('../../piece/international/shapes/wP.svg')}
.is2d .knight.white {background-image:url('../../piece/international/shapes/wN.svg')}
.is2d .bishop.white {background-image:url('../../piece/international/shapes/wB.svg')}
.is2d .rook.white {background-image:url('../../piece/international/shapes/wR.svg')}
.is2d .queen.white {background-image:url('../../piece/international/shapes/wQ.svg')}
.is2d .king.white {background-image:url('../../piece/international/shapes/wK.svg')}
.is2d .pawn.black {background-image:url('../../piece/international/shapes/bP.svg')}
.is2d .knight.black {background-image:url('../../piece/international/shapes/bN.svg')}
.is2d .bishop.black {background-image:url('../../piece/international/shapes/bB.svg')}
.is2d .rook.black {background-image:url('../../piece/international/shapes/bR.svg')}
.is2d .queen.black {background-image:url('../../piece/international/shapes/bQ.svg')}
.is2d .king.black {background-image:url('../../piece/international/shapes/bK.svg')}
