.is2d .pawn.white {background-image:url('../../piece/international/staunty/wP.svg')}
.is2d .knight.white {background-image:url('../../piece/international/staunty/wN.svg')}
.is2d .bishop.white {background-image:url('../../piece/international/staunty/wB.svg')}
.is2d .rook.white {background-image:url('../../piece/international/staunty/wR.svg')}
.is2d .queen.white {background-image:url('../../piece/international/staunty/wQ.svg')}
.is2d .king.white {background-image:url('../../piece/international/staunty/wK.svg')}
.is2d .pawn.black {background-image:url('../../piece/international/staunty/bP.svg')}
.is2d .knight.black {background-image:url('../../piece/international/staunty/bN.svg')}
.is2d .bishop.black {background-image:url('../../piece/international/staunty/bB.svg')}
.is2d .rook.black {background-image:url('../../piece/international/staunty/bR.svg')}
.is2d .queen.black {background-image:url('../../piece/international/staunty/bQ.svg')}
.is2d .king.black {background-image:url('../../piece/international/staunty/bK.svg')}
