.is2d .pawn.white {background-image:url('/src/renderer/assets/piece/Xiangqi/intlgreen/red_pawn.svg')}
.is2d .rook.white {background-image:url('/src/renderer/assets/piece/Xiangqi/intlgreen/red_chariot.svg')}
.is2d .cannon.white {background-image:url('/src/renderer/assets/piece/Xiangqi/intlgreen/red_cannon.svg')}
.is2d .knight.white {background-image:url('/src/renderer/assets/piece/Xiangqi/intlgreen/red_horse.svg')}
.is2d .bishop.white {background-image:url('/src/renderer/assets/piece/Xiangqi/intlgreen/red_elephant.svg')}
.is2d .advisor.white {background-image:url('/src/renderer/assets/piece/Xiangqi/intlgreen/red_advisor.svg')}
.is2d .king.white {background-image:url('/src/renderer/assets/piece/Xiangqi/intlgreen/red_king.svg')}
.is2d .pawn.black {background-image:url('/src/renderer/assets/piece/Xiangqi/intlgreen/blue_pawn.svg')}
.is2d .rook.black {background-image:url('/src/renderer/assets/piece/Xiangqi/intlgreen/blue_chariot.svg')}
.is2d .cannon.black {background-image:url('/src/renderer/assets/piece/Xiangqi/intlgreen/blue_cannon.svg')}
.is2d .knight.black {background-image:url('/src/renderer/assets/piece/Xiangqi/intlgreen/blue_horse.svg')}
.is2d .bishop.black {background-image:url('/src/renderer/assets/piece/Xiangqi/intlgreen/blue_elephant.svg')}
.is2d .advisor.black {background-image:url('/src/renderer/assets/piece/Xiangqi/intlgreen/blue_advisor.svg')}
.is2d .king.black {background-image:url('/src/renderer/assets/piece/Xiangqi/intlgreen/blue_king.svg')}
